body {
	background-image: url(img/bg.jpg);
}
.form {
	padding: 39px;
	display: inline-block;
	border: solid 2px #cfdede;
	position: absolute;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -273px;
}
.form-header {
	border: none;
	background-color: #01b3b3;
	color: #fff;
	font-size: 12px;
	font-weight: 900;
	text-transform: uppercase;
	display: inline-block;
	padding: 8px 10px;
	margin-bottom: 30px;
}
.form_text {
	font-size: 12px;
	font-weight: 900;
}
.form_text span {
	color: #01b3b3;
}
.form input {
	padding: 5px 18px;
}
.btn {
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	background-color: #01b3b3;
	margin: 30px auto;
	margin-bottom: 10px;
	padding: 15px 55px;
}